html{

    /* margin: 5px; */
    /* border: 1px solid red; */
}

body{

    background-color: #FFFADD;

    margin: 0;
    /* border: 1px solid green; */
}

.container1{

    /* margin: 5px; */
    /* border: 1px solid blue; */

    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

h1{

    font-family: 'Graduate', serif;
    font-size: 2.5rem;

    margin: 0 10%;
    margin-bottom: 10px;
}

#excerpt{

    margin: 0 10%;
    margin-bottom: 25px;

    /* border: 1px solid black; */

    font-family: 'Glass Antiqua', cursive;
    font-size: 1.2rem;

    padding: 25px;
    padding-left: 0;

    text-align: start;
}

.container2{

    /* border: 1px solid red; */
    
    width: 80%;
    display: flex;

    justify-content:space-around;
    align-items: center;
}

#displayArea{

    border: 1px solid blue;

    height: 351px;
    width: 444px;

    text-align: center;
    line-height: 320px;

    font-size: 5rem;
}

.calculator{

   border: 1px solid brown;
   padding: 5px;
}

.output{

    margin: 5px;
    margin-bottom: 10px;

    border: 1px solid green;

    height: 150px;

    text-align: center;
    font-size: 2rem;

    line-height: 100px;
}

.operators{

    margin: 5px;
    border: 1px solid purple;
    
    display: flex;
    justify-content: center;
}

.operators div{

    margin: 5px;
    border: 1px solid palevioletred;

    padding: 5px;

    height: 40px;
    width: 40px;

    text-align: center;
    line-height: 40px;
}

.operators div:hover{
    background-color: palevioletred;
}

.numbers{

    margin: 5px;
    border: 1px solid orange;

    display: flex;
}

.number{

    margin: 5px;
    border: 1px solid orangered;

    height: 20px;
    width: 20px;

    padding: 5px;
    text-align: center;
}

.number:hover{
    background-color: orangered;
}

.misc{

    margin: 5px;
    border: 1px solid salmon;

    display: flex;
    justify-content: center;
}

.misc div{

    margin: 5px;
    border: 1px solid sandybrown;

    height: 25px;
    width: 75px;

    padding: 5px;

    text-align: center;
    line-height: 25px;
}

.misc div:hover{
    background-color: sandybrown;
}

#decimalDot{

    margin: 5px;
    border: 1px solid orangered;

    font-size: 1.5rem;
    width: 25px;

    padding: 5px;

    text-align: center;
    line-height: 10px;
}

#decimalDot:hover{
    background-color: orangered;
}

footer{

    font-size: 0.8rem;
    text-align: end;

    padding: 1px;
    padding-right: 2.5%;

    background-color: #8ECDDD;
}